//* Import fonts : Montez and Roboto *//

@import url('https://fonts.googleapis.com/css2?family=Montez&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//* Font type *//
h1, h2, h3, .logoMenu, .cardProduct__price{
    font-family: 'Montez', cursive, arial;
    font-weight: normal;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

.logoMenu{
    font-size: 2.2rem;
}

.cardProduct__price{
    font-size: 2rem;
}

p, li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

li{
    font-weight: 400;
    font-size: 1.1rem;
}

p{
    font-weight: 400;
    font-size: 1rem;
}
