.separator{
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(90deg,$colorBg_light 0%, $colorBg_default 70%); 

    &--header{
        position: fixed; //! Permet de passer sur la page
        z-index: 99; //! permet de passer sur la page
        top:84px;
        left: 0;  
    }

    &--reverse{
        background: linear-gradient(270deg,$colorBg_light 0%, $colorBg_default 70%); 
    }
    
}